<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="db.mappers.AccountsMapper">
    <insert id = "insertAccount" parameterType = "accounts.pojos.AccountData">
        insert into ACCOUNTS (name,indexName,id,token)
        values (#{name}, #{indexName}, #{id}, #{token})
        <selectKey resultType="long" order="AFTER" keyProperty="id">
            SELECT LAST_INSERT_ID() as id
        </selectKey>
    </insert>

    <select id="selectAccount" parameterType="String" resultType="accounts.pojos.AccountData">
        SELECT * FROM ACCOUNTS WHERE token = #{token}
    </select>
</mapper>

